/* ========== ESTILOS GENERALES =========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
}

/* ========== ENCABEZADO =========== */

header {
  background-color: #2b2b2b;
  color: white;
  padding: 15px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

header h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

header span {
    color:chocolate;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: orangered;
    text-decoration: underline;
}

/* ========== SECCIÓN HERO (principal) =========== */

.hero {
    background-image: url('/img/—Pngtree—a\ team\ of\ professionals\ working_16417682.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 80px 20px;
    height: 650px;
    z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  z-index: -1;
}

.hero h2 {
    font-size: 3.9rem;
    font-weight: 700;
    margin-top: 65px;
    margin-bottom: 15px;
    color: #ffffff;
}

.hero p {
    font-size: 1.9rem;
    color: #dad3d3;
    margin-bottom: 25px;
}

.hero button {
    background-color:#ff8000;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: orangered;
}
 
/* ========== SECCIÓN SOBRE NOSOTROS =========== */

.info {
    text-align: center;
    padding: 60px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.caja {
  background-color: #ffffff;
  color: #2b2b2b;
  padding: 20px ;
  border-radius: 5px;
  width: 40%; 
  min-width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.caja  img {
  width: 50%;
  height: 45%;
  margin: 5px 0;
  border-radius: 5px;
  margin-bottom: 10%;
}

.caja h3 {
  font-size: 2em;
  margin-bottom: 25px;
}

.caja p {
  font-size: 1.2em;
  line-height: 1.8;
}


.info h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.info p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

/* ========== PIE DE PÁGINA) =========== */

footer {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    margin-top: 40px;
}


/*-------------------------------------------------------------------------------------------------------*/

/* ========== NOSOTROS =========== */

.nosotros{
    text-align: center;
    padding: 60px 20px;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
}

.nosotros img {
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}



/* ========== SERVICIOS =========== */

.servicios {
    text-align: center;
    padding: 60px 20px;
}

.servicios h2 {
    font-size: 58px;
    margin-bottom: 80px;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.tarjeta {
    background-color: #f5f5f5;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tarjeta h3 {
    color: #007bff;
    margin-bottom: 10px;
}

/* ========== CONTACTOS =========== */

.contacto {
    text-align: center;
    padding: 60px 20px;
    
}

.formulario {
    width: 50%;
    margin: 20px;
    background-color: transparent;
    border: 2px solid rgba(225, 225, 225, 0.2);
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    padding: 30px 40px;
    background-position: center;
    position: relative;
}

.formulario .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

#button {
  width: 100%;
  height: 45px;
  background: orangered;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.input-box input {
  width:100%;
  height: 80%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(7, 7, 7, 0.932);
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: orangered;
}

.input-box i {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0f0f0f;
    border-radius: 5px;  
    font-size: 16px; 
    margin-bottom: 30px;
}

.formulario textarea::placeholder {
    color: orangered;
}